@{
    ViewData["Title"] = "Book no Found";
}

<h1>Book no Found</h1>
<p>It seems there are no book available in the database at the moment.</p>
<p>Please check back later or <a href="@Url.Action("Index", "Home")">return to the homepage</a>.</p>
